/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */
.payment-form input {
    xdisplay: block;
}
.payment-form input {
    max-width: 400px;
}
.payment-form label{
    max-width: 400px;
    display: block;
}
.input-field {
    margin: 15px 0;
}
label.hbl-error {
    font-size: 12px;
    color: #fff;
    background: #f75252;
    width: 400px;
    display: block;
    padding: 5px 10px;
    margin-bottom: 10px;
}
.wrap.general-setting-form {
    max-width: 800px;
}
.general-setting-form form{
    display:none;
}
.general-setting-form h3 {
    margin: 0;
}
#wp-mail_body-wrap {
    max-width: 510px;
}

.wrap input[type="text"] {
    min-width: 290px;
}
.info-hbl {
    background: #ddd;
    display: block;
    margin: 15px 0;
    padding: 5px 10px;
    width: 270px;
}
#amount,#currencyCode,.cal-price{
    display: none;
}